<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Create a user</h1>
      <form action="/newuser" method="post">
        <p> Username: </p> <input type="text" name="name" placeholder="Cat Name">
        <br>
        <p> Email: </p> <input type="email" name="email" placeholder="Cat Age">
        <br>
        <p> Status: </p> <input type="text" name="bio" placeholder="Cat Breed">
        <br>
        <button type="submit" name="submit">Create User</button>
    </form>


  </body>
</html>
