<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
  <h1> Hey Cutie Pie </h1>
  <h2> ps, you're at home </h2>
  <p>see all <a href='/users'> Users</a></p>

  </body>
</html>
